.wrapper {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.big_2x2 {
  grid-row: span 2;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.big_2x1 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.mobileWrapper{
  display: none;
}

@media (max-width: 768px) {
  .big_2x2{
    display: none;
  }
  .big_2x1{
    display: none;
  }

  .mobileWrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 0 16px;
  }

  .wrapper{
    display: none;
  }
}