.wrapper, .catalog_wrapper {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3.0rem;
  column-gap: 2.0rem;
}

.big_2x2 {
  grid-row: span 2;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.big_2x1 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.big_2x1:hover {
  text-decoration: none !important;
}

.mobileWrapper {
  display: none;
}

@media (max-width: 1024px) {
  .catalog_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media (max-width: 768px) {
  .mobileWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  .category{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 0 1.6rem;
  }

  .catalog_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
