.wrapper {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
  padding: 40px;
}

.big_2x2 {
  grid-row: span 2;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.big_2x1 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
}