.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 20px;
  align-self: start;
  width: 100%;
}

.paper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F4F2E4;
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
}

.button {
  padding: 12px 16px;
  color: #120C08;
  user-select: none;
  text-wrap: nowrap;
}

.selected {
  background: #3C5F3B;
  color: #FFFFFF;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    position: static;
  }
}