.button_outlined {
  border: 1px solid #000000;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  padding-block: 36px;
}

.button_outlined:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .button_outlined{
    padding-block: 22px;
  }
}
