.contacts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.submit_button {
  font-size: 1.2rem;
  font-weight: 700;
  background: #3C5F3B;
  padding: 1.2rem;
  border: none;
  color: #FFFFFF;
}

.row{
  gap: 0;
}

.cell{
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid rgba(0,0,0,0.2) !important; 
}

thead .cell{
  font-weight: 500;
}