.form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px;
  max-width: 420px;
}

.submit_button {
  font-size: 16px;
  background: #3C5F3B;
  border-radius: 8px;
  padding: 20px 22px;
  border: none;
  color: #FFFFFF;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 36px;
}

.subTitle {
  font-size: 18px;
}

.phone {
  font-size: 18px;
  font-weight: 500;
}

.ya_napisal_ne_tot_nomer {
  color: #3C5F3B;
}

.ya_napisal_ne_tot_nomer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.codeInputStack {
  display: flex;
  flex-direction: row;
}
