.profile_wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #302E2C;
}

.username {
  font-weight: 700;
  font-size: 20px;
  padding-block: 30px;
}

.cards_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1024px) {
  .cards_wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile_wrapper {
    margin-top: 84px;
  }
}
