.profile_wrapper {
  display: flex;
  flex-direction: column;
  padding: 4.0rem;
  color: #302E2C;
}

.username {
  font-weight: 700;
  font-size: 2.0rem;
  padding-block: 3.0rem;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex; */
  flex-direction: row;
  gap: 1.0rem;
}

@media (max-width: 1024px) {
  .cards_wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile_wrapper {
    margin-top: 8.4rem;
  }
}
