.all_wrapper, .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
}

.wrapper svg{
  transition: 300ms;
}

.wrapper:hover svg{
  margin-left: 1.2rem;
  margin-right: 0.6rem;
}

.all_wrapper .background, .wrapper .background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.wrapper .background::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 74%);
}

.all_wrapper .background_fx_up {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 60%, rgba(18, 12, 8, 1) 150%);
}

.all_wrapper .background_fx_down {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(18, 12, 8, 1) 200%);
}

.all_wrapper .category_name {
  font-weight: 300;
  /* font-style: italic; */
  /* opacity: 0.8; */
  font-size: 6.8rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  width: 100%;
}

.divider{
  display: flex;
  width: 100%;
  height: 1px;
  margin-bottom: 0.6rem;
  background: #FFFFFF;
}

.all_wrapper .categories {
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
}

.all_wrapper .subcategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.1rem;
}

.all_wrapper .subcategory:hover {
  text-decoration: none !important;
}

.all_wrapper .subcategory:hover .button_outlined {
  border: 0.1rem solid #FFFFFF;
  padding: 0.8rem 3.6rem;
  transition: 400ms;
}

.button_outlined{
  border: 0.1rem solid rgba(0,0,0,0);
  padding: 0.8rem 0;
  border-radius: 3.2rem;
  transition: 400ms;
}

.all_wrapper .subcategory .subcategory_name {
  font-weight: 300;
  font-size: 6.8rem;
}

.all_wrapper .content {
  padding: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}


.wrapper .content {
  padding: 6.4rem 3.2rem;
  max-width: 60%;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2.0rem;
}

.wrapper .content .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  height: 100%;
}

.wrapper .content .category_name {
  font-weight: 300;
  font-size: 4.6rem;
}

.wrapper .content .category_desc {
  font-weight: 300;
  font-size: 1.8rem;
  text-wrap: balance;
}


@media (max-width: 768px) {
  .all_wrapper, .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    color: #FFFFFF;
  }

  .wrapper .content {
    padding: 2.2rem;
    padding-top: 6.4rem;
    max-width: 100%;
    width: 100%;
    text-wrap: balance;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 0.4rem;
  }

  .wrapper .content .data {
    gap: 0.8rem;
  }
 
  .wrapper .content .category_desc {
    display: none;
  }

  .wrapper .content svg {
    display: none;
  }

  .wrapper .background::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.36) 100%, rgba(0, 0, 0, 0) 100%);
  }
}