.block{
  display: flex;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.blockContent{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 8.0rem;
  width: 100%;
}

.headingWrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
  width: 100%;
}

.heading{
  font-weight: 300;
  font-size: 4.6rem;
}

.description{
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 2.2rem;
  font-weight: 400;
  text-wrap: balance;
}

.cards{
  display: flex;
  gap: 2.2rem;
  width: 100%;

}

.card{
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  width: 100%;
  aspect-ratio: 44/53;
  text-decoration: none !important;
}

.card:hover .card_bg{
  text-decoration: none !important;
  transform: scale(1.05);
}

.card_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 400ms;
  z-index: 1;
}

.shadow{
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 17.0rem;
  background: linear-gradient(rgba(18,12,8,0), rgba(18,12,8,0.6));
}

.cardInfo{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem;
}

.name{
  text-decoration: none !important;
  color: #FFFFFF;
  font-size: 4.6rem;
  font-weight: 300;
}

.slideContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

/* Slider.module.css */

.image{
  position: relative;
  width: 80vw;
  aspect-ratio: 4/5;
  overflow: hidden;
}


@media (max-width: 768px) {
  .blockContent{
    margin-top: 6.4rem;
    overflow: hidden;
    padding: 0;
  }

  .headingWrapper{
    gap: 0.8rem;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
  }

  .heading{
    font-size: 4.2rem;
    font-weight: 300;
  }

  .description{
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  .name{
    font-size: 2.2rem !important;
    font-weight: 400 !important;
    color: #000000;
  }

  .cardInfo{
    padding: 0;
    justify-content: center;
    gap: 2.2rem;
  }

  .cardInfo svg{
    height: 2.6rem;
    width: auto;
  }
}