.page {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.pageWrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.login_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .image {
    display: none;
  }
}