.card_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.card_wrapper:hover{
  text-decoration: none !important;
}

.card_wrapper:hover .brightness {
  opacity: 1 !important;
}

.card_wrapper:hover .buttonWrapper {
  opacity: 1 !important;
}

.brightness {
  display: flex;
  flex-direction: column;

  width: calc(100% - 3.2rem);
  z-index: 3;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  opacity: 0;
  transition: 300ms;
}

.buttonWrapper {
  display: flex;
  width: calc(100% - 3.2rem);
  align-items: end;
  justify-content: end;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  bottom: 7.6rem;
  left: 1.6rem;
  opacity: 0;
  transition: 300ms;
}

.brightnessTitle {
  /* text-transform: uppercase; */
  opacity: 0.7;
  font-size: 1.6rem;

  /* font-weight: 300; */
}

.brightnessValue {
  /* text-transform: uppercase; */
  opacity: 1;
  font-size: 1.8rem;
}

.dotsWrapper {
  display: flex;
  gap: 0.8rem;
}

.dot {
  width: 1.8rem;
  height: 1.8rem;
  background: #301E03;
  opacity: 0.3;
}

.activeDot {
  opacity: 1;
}

.image {
  pointer-events: none;
  position: relative;
  width: 100%;
  aspect-ratio: 323/380;
  overflow: hidden;
}

.card_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.card_info_text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.addToCart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #3C5F3B;
  padding: 1.6rem;
  color: #FFFFFF;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer !important;
  transition: 300ms;
}

.addToCart:hover{
  background: #2c452b;
}

@media (max-width: 768px) {
  .buttonWrapper{
    display: none;
  }

  .card_wrapper {
    gap: 1.2rem;
  }

  .brightness {
    display: none;
  }

  .card_info {
    font-size: 1.6rem;
  }

  .addToCart {
    padding: 1.0rem;
  }

  .addToCart svg {
    width: 2.1rem;
    height: 2.0rem;
  }
}