.card_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card_wrapper:hover{
  text-decoration: none !important;
}

.card_wrapper:hover .brightness {
  opacity: 1 !important;
}

.brightness {
  display: flex;
  width: calc(100% - 32px);
  z-index: 3;
  justify-content: space-between;
  position: absolute;
  top: 16px;
  left: 16px;
  opacity: 0;
  transition: 300ms;
}

.brightnessTitle {
  text-transform: uppercase;
  opacity: 0.8;
}

.dotsWrapper {
  display: flex;
  gap: 8px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #301E03;
  opacity: 0.3;
}

.activeDot {
  opacity: 1;
}

.image {
  pointer-events: none;
  position: relative;
  width: 100%;
  aspect-ratio: 323/380;
  border-radius: 8px;
  overflow: hidden;
}

.card_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.card_info_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80%;
  aspect-ratio: 1;
  position: relative;
}

.addToCart {
  position: absolute;
  top: 0;
  right: 0;
  background: #3C5F3B;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buttonWrapper{
    display: none;
  }

  .card_wrapper {
    gap: 12px;
  }

  .brightness {
    display: none;
  }

  .card_info {
    font-size: 16px;
  }

  .addToCart {
    padding: 10px;
  }

  .addToCart svg {
    width: 21px;
    height: 20px;
  }
}