.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10.0rem;
  overflow: hidden;
  max-width: 144.0rem;
  font-size: 2.6rem;
}

.content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  width: 100%;
  padding: 4.0rem;
}

.content_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.content_info_title {
  font-size: 3.6rem;
}

.content_info_scheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.6rem;
  align-items: center;
  flex-wrap: nowrap;
}

.scheme_element {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.scheme_element p {
  text-wrap: balance;
}

.content_img {
  width: 100%;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  aspect-ratio: 1/1.2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.listItem {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  flex-wrap: nowrap;
}

.content_img_gifts {
  width: 100%;
  position: relative;
  pointer-events: none;
  aspect-ratio: 60/50;
  overflow: hidden;
}

.action_block {
  padding: 4.0rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  width: 100%;
}

.line {
  width: 100%;
  height: 0.1rem;
  background: #000;
}

.actions_content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  text-wrap: balance;
}

.phone {
  text-wrap: nowrap;
}

.actions_content_title {
  font-size: 3.6rem;
}

.actions_content_buttons {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.candle_img {
  width: 100%;
  height: 48.0rem;
  position: relative;
  pointer-events: none;
}

.content_heading {
  font-size: 8.6rem;
  font-style: italic;
  font-weight: 300;
}

.status_cards {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  justify-content: space-between;
  padding: 4.0rem;
}

.status {
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 3.2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.status_head {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}

.status_number {
  font-size: 4.6rem;
}

.status_color {
  width: 100%;
  height: 0.8rem;
  border-radius: 0.8rem;
}

.silver {
  background: #B6B3A9;
}

.gold {
  background: #B4A674;
}

.platinum {
  background: #A4B0C6;
}

@media (max-width: 960px) {
  .content_wrapper {
    display: flex;
    flex-direction: column;
    padding: 3.0rem;
  }

  .status_cards {
    flex-direction: column;
  }

  .block {
    gap: 2.0rem;
    font-size: 2.0rem;
  }

  .content_img, .content_img_gifts {
    width: 60%;
  }

}

@media (max-width: 768px) {
  .content_heading {
    font-size: 5.0rem;
  }

  .content_info_title {
    font-size: 2.4rem;
  }

  .content_img, .content_img_gifts {
    width: 100%;
  }

}