.footer {
  width: 100%;
  padding: 90px 60px 20px;
  background: #B6B3A9;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  color: #F0EFE5;
}

.data_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
}

.data .payments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #FFFCEB21;
  padding: 20px;
  border-radius: 10px;
}

.data .payments .logos {
  display: flex;
  gap: 25px;
}

.data .heading {
  font-weight: 600;
}

.legal_wrapper {
  width: 100%;
  display: flex;
  gap: 5px;
}
