.footer {
  width: 100%;
  margin-top: 14.0rem;
  padding: 9.0rem 6.0rem 2.0rem;
  background: #B6B3A9;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 7.0rem;
  align-items: center;
  color: #F0EFE5;
}

.data_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.0rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  font-weight: 400;
}

.data .payments {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #FFFCEB21;
  padding: 2.0rem;
  border-radius: 1.0rem;
}

.data .payments .logos {
  display: flex;
  gap: 2.5rem;
}

.data .heading {
  font-weight: 600;
}

.legal_wrapper {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
