.order_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 64px;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.detailsInfoList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.cityInput{
  position: relative;
  width: 100%;
}

.search_results {
	position: absolute;
	z-index: 3;
	top: 80px;
	left: 0;
	border-radius: 14px;
	padding: 4px;
	background: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(165, 177, 202, .3), 0px 10px 40px rgba(165, 177, 202, .3);
	display: flex;
	flex-direction: column;
	width: 100%;
  min-width: 300px;
	max-height: 220px;
	overflow-y: auto;
}

.search_result {
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	transition: 300ms;
}

.search_result:hover {
  background: #f0efe7
}

.outside_click_handler {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
}

.search_name {
	font-size: 16px;
}

.mobileDetailsInfoList {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 22px 0;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInfo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemName {
  font-size: 20px;
  margin: 0 0 4px;
  font-weight: 500;
}

.itemPrice {
  margin: 0;
  font-size: 18px;
  color: #4b4b4b;
  text-wrap: nowrap;
}

.itemPrice span{
  color: #000000;
}

.imageInfo{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 22px;
}

.imageWrapper{
  position: relative;
  width: 86px;
  height: 86px;
  border-radius: 8px;
  overflow: hidden;
}

.detailsRow{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.detailsRowValue{
  font-weight: 500;
}

.blockWrapper{
  width: 100%;
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.deliveryList{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.deliveryType{
  padding-bottom: 12px;
}

.delivery{
  cursor: pointer;
  display: flex;
  width: fit-content;
  text-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 10px 22px;
  border: 1px solid #3C5F3B20;
  opacity: 0.8;
  border-radius: 22px;
}

.delivery.selected{
  border: 1px solid #3C5F3B;
  opacity: 1;
}

.title{
  font-size: 32px;
  font-weight: 300;
}

.fieldsRow{
  width: 100%;
  gap: 12px;
  display: flex;
}

.fieldsList{
  width: 100%;
  gap: 22px;
  display: flex;
  flex-direction: column;
}

.orderInfo{
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.pay{
  padding: 22px;
  background: #3C5F3B;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  transition: 300ms;
  cursor: pointer;
}

@media (max-width: 768px) {
  .blockWrapper{
    margin-top: 84px;
    padding: 24px;
  }

  .order_wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 22px;
  }

  .imageWrapper{
    position: relative;
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 8px;
    overflow: hidden;
  }

  .itemName{
    font-size: 18px;
  }
  
  .itemPrice{
    font-size: 16px;
  }

  .itemInfo{
    gap: 0px;
  }

  .imageInfo{
    gap: 16px;
  }

  .title{
    font-size: 26px;
    font-weight: 400;
  }

  .cartItemsList{
    padding-bottom: 22px;
  }

  .detailsInfoList{
    display: none;
  }
  
  .mobileDetailsInfoList{
    display: flex;
  }

  .detailsRow{
    font-size: 18px;
  }

  .fieldsRow{
    flex-direction: column;
  }
}