.clouds_block{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  margin-top: 94px;
  padding: 200px 0;
}

.heading{
  position: relative;
  z-index: 2;
  text-align: center;
  font-weight: 300;
  font-size: 72px;
}

.image{
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  width: calc(100vw + 360px);
  aspect-ratio: 181/76.4;
}

.company{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 22px;
}

.more{
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  opacity: 0.7;
}

.more:hover{
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .clouds_block{
    gap: 32px;
    margin-top: 40px;
    padding: 80px 0;
  }
  
  .heading{
    font-size: 8vw;
    padding: 0 32px;
    text-wrap: balance;
  }

  .heading br{
    display: none;
  }

  .image{
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 422px;
    width: auto;
  }

  .company{
    flex-direction: column;
    gap: 8px;
  }

  .company svg{
    height: 36px;
    width: auto;
  }

  .more{
    font-size: 14px;
  }
}