.catalog_wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 4.0rem;
  gap: 2.0rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
  height: fit-content;
}


@media (max-width: 768px) {
  .catalog_wrapper {
    padding-top: 8.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
  }
}