.products_wrapper {
  padding: 4.0rem;
  display: flex;
  flex-direction: column;
  gap: 4.0rem;
}

.catalog{
  padding: 4.0rem;
  width: 100%;
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .products_wrapper{
    display: none;
  }

  .catalog{
    padding: 3.2rem 1.6rem;
    font-size: 1.8rem;
  }
}