.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.link_button {
  background: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 18px;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 22px;
  transition: 300ms;
}

.link_button:hover{
  background: rgba(0,0,0,0.06);
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .header{
    display: none;
  }
}