.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.link_button {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media (max-width: 768px) {
  .header{
    display: none;
  }
}