.delivery_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 22px;
  flex-direction: row;
  justify-content: space-between;
  padding: 140px 80px;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 72px;
  font-weight: 300;
  font-style: italic;
}

.image {
  height: 380px;
  width: 100%;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  aspect-ratio: 1/1.2;
}

.cart_button {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .delivery_wrapper {
    display: flex;
  }

  .text {
    width: 100%;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .delivery_wrapper {
    flex-direction: column;
    padding: 50px 20px;
  }

  .text {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .delivery_wrapper{
    padding-top: 100px;
  }

  .title {
    font-size: 42px;
  }

  .image {
    display: none;
  }
}