.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 10px;
  width: 100%;
}

.cookie_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFE5;
  border-radius: 20px;
  padding: 20px;
  font-size: 2rem;

  gap: 10px;
}

.button {
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  font-size: 2rem;
  background: none;
  border: 1px solid #3C5F3B;
}

.button:hover {
  cursor: pointer;
  background-color: #3C5F3B;
  color: white;
}
