.contacts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.submit_button {
  font-size: 1.2rem;
  font-weight: 700;
  background: #3C5F3B;
  border-radius: 0.8rem;
  padding: 1.2rem;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}