.contacts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submit_button {
  font-size: 12px;
  font-weight: 700;
  background: #3C5F3B;
  border-radius: 8px;
  padding: 12px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}