.block{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}

.blockContent{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 0 40px;
  width: 100%;
}

.feauture{
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  /* border-top: 1px solid #000000; */
  border-bottom: 1px solid #000000;
}

.name{
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .block{
    padding: 32px 16px;
  }

  .blockContent{
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 0;
  }

  .feauture{
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    border-top: none;
    padding: 22px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

  .feauture svg{
    width: 42px;
    height: auto;
  }

  .feauture:last-child{
    border-bottom: none;
  }
}