.block{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 0;
}

.blockContent{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2rem;
  padding: 0 4.0rem;
  width: 100%;
}

.feauture::after{
  content: '';
  position: absolute;
  bottom: -20%;
  z-index: -1;
  width: 60%;
  height: 50%;
  border-radius: 50%;
  background: #dad8d1;
  filter: blur(4.6rem);
  opacity: 0;
  transition: 400ms;
}

.feauture:hover{
  text-decoration: none !important;
}

.feauture:hover::after{
  opacity: 1;
}

.feauture{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
  /* border-top: 0.1rem solid #000000; */
  transition: 300ms;
  border-bottom: 0.1rem solid #000000;
}

.name{
  font-size: 1.8rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .block{
    padding: 3.2rem 1.6rem;
  }

  .blockContent{
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 0;
  }

  .feauture{
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.8rem;
    border-top: none;
    padding: 2.2rem 0.0rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
  }

  .feauture svg{
    width: 4.2rem;
    height: auto;
  }

  .feauture:last-child{
    border-bottom: none;
  }
}