.card_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F4F2E4;
  padding: 3.0rem;
  gap: 3.0rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

.title {
  font-weight: 700;
  font-size: 2.0rem;
}

.subTitle {
  font-size: 1.2rem;
  max-width: 32.0rem;
  text-wrap: balance;
}
