.PhoneInputCountryIcon--border {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: none;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
  box-shadow: none !important;
}

.PhoneInputCountrySelectArrow {
  color: #000000;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
  color: #000000;
}

.PhoneInput {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background: #FFFEF5;
  padding: 20px;

}

.PhoneInput input {
  font-size: 16px;
  padding-left: 10px;
  border: none;
  stroke: none;
  outline: none;
  background: transparent;
}
