.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
}

.error {
  font-size: 16px;
  color: #e30c2c;
}

.required::after{
  content: ' *';
  color: #e30c2c;
  font-size: 18px;
  font-weight: 500;
}

.titled_input {
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.4);
  background: #FFFEF5;
  -moz-appearance: textfield;
  appearance: textfield;
}

.titled_input::-webkit-outer-spin-button,
.titled_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
