.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  font-size: 1.6rem;
}

.error {
  font-size: 1.6rem;
  color: #e30c2c;
}

.required::after{
  content: ' *';
  color: #e30c2c;
  font-size: 1.8rem;
  font-weight: 500;
}

.titled_input {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0,0,0,0.4);
  background: #FFFEF5;
  -moz-appearance: textfield;
  appearance: textfield;
}

.titled_input::-webkit-outer-spin-button,
.titled_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
